fastapi
uvicorn
python-multipart
langchain
langchain-google-genai
langchain-text-splitters
pinecone
rank-bm25
cohere
pandas
PyPDF2
pillow
python-dotenv
beautifulsoup4
requests
playwright
python-docx
pypdf
openpyxl
